.dummyDiv {
    margin-top: 100px;
    text-align: center;
}
.buttonDummy {
    margin: 10px;
}
.buttonDummySubmit{
    color: white;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}